*.qcow2
*.log
*.iso
*.raw
packages/
winxp_sp4/AUTORUN.INF
winxp_sp4/CYGWIN/MinGW_2018_final.7z
winxp_sp4/DOCS/
winxp_sp4/DOTNETFX/
winxp_sp4/EXTRA/
winxp_sp4/I386/
winxp_sp4/MAHER.TXT
winxp_sp4/OEM/
winxp_sp4/README.HTM
winxp_sp4/SETUP.EXE
winxp_sp4/SETUPXP.HTM
winxp_sp4/SUPPORT/
winxp_sp4/VALUEADD/
winxp_sp4/WIN51
winxp_sp4/WIN51IP
winxp_sp4/WIN51IP.SP3
winxp_sp4/virtio-0.1.141
